<h1>Book Info</h1>
<div class="mb-3">
  <p><span style="font-weight: bold">Title:</span> {{book.title}}</p>
  <hr>
</div>
<div class="mb-3">
  <p><span style="font-weight: bold">Author:</span> {{book.author}}</p>
  <hr>
</div>
<div class="mb-3">
  <p><span style="font-weight: bold">Description:</span> {{book.description}}</p>
  <hr>
</div>
<div>
  <table>
    <tr>
      <a [routerLink]="['/book/edit',book.id]" class="btn btn-primary">Edit</a>&nbsp;
      <a [routerLink]="['/book/delete',book.id]" class="btn btn-danger">Delete</a>&nbsp;
      <a routerLink="/book/list" class="btn btn-outline-danger">Back</a>
    </tr>
  </table>
</div>
