<h1>Book List</h1>
<a routerLink="/book/create">Add new book</a>
<table>
  <tr>
    <th>#</th>
    <th>Title</th>
    <th>Author</th>
    <th>Description</th>
  </tr>
  <tr *ngFor="let book of books; index as i">
    <td>{{i + 1}}</td>
    <td><a [routerLink]="['/book', book.id]">{{book.title}}</a></td>
    <td>{{book.author}}</td>
    <td>{{book.description}}</td>
    <td><a [routerLink]="['/book/edit',book.id]" class="btn btn-primary">Edit</a></td>
    <td><a [routerLink]="['/book/delete',book.id]" class="btn btn-danger">Delete</a></td>
  </tr>
</table>
